body {
  background: #3f0091;
  background: rgba(63, 0, 145, 1);
}

/* index.html */

.container1 {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.box {
  display: inline-block;
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.19), 0 20px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn2 {
  background-color: #3f0091;
  border: none;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 1.5vw;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  float: inherit;
  margin-top: 22vw;
  margin-left: 3vw;
}

.btn2:hover {
  background-color: RoyalBlue;
  text-decoration: none;
}

.responsive {
  float: right;
  margin-top: 60px;
  margin-bottom: 20px;
}

img {
  width: 750px;
  margin-bottom: 20px;
  margin-right: 20px;
}

h1 {
  position: absolute;
  float: inherit;
  font-size: 3vw;
  margin-top: 3vw;
  margin-left: 3vw;
  color: #3f0091;
}

h3 {
  position: absolute;
  float: inherit;
  font-size: 1.5vw;
  margin-top: 7vw;
  margin-left: 3vw;
  color: #3f0091;
}

/* start.html */

#pageHeader {
  max-width: 90%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.19), 0 20px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"],
input[type="text"]:focus {
  color: #4e01d4;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

#projectContainer {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  /* border-style: solid;
  border-color: #3f0091; */
  border-radius: 0.7vw;
  /* background-color: #cccccc; */
}

#View {
  color: #000000;
}
#View:hover {
  color: #4e01d4;
}

h5 {
  background-color: #ffffff;
  color: #000000;
}

.card-body {
  background-color: #ffffff;
  color: #000000;
}

.todos li {
  background: #3f0091;
}

.delete {
  cursor: pointer;
}
.edit {
  cursor: pointer;
}
.filtered {
  display: none !important;
}

.btn {
  background-color: #3f0091; /* Blue background */
  border: none; /* Remove borders */
  color: #ffffff; /* White text */
  padding: 4px 10px; /* Some padding */
  margin-right: 2px;
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

form {
  overflow: hidden;
}

input {
  float: right;
  clear: both;
}
.card-body {
  width: 95%;
}
.card-header {
  width: auto;
}
.new-project-link {
  float: right;
}

#homeImage {
  width: 70%;
  height: auto;
}

/* 2020-04-25 */

.my-projectcontainer .container {
  margin-left: 0;
}
.my-projectcontainer .container .col {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.my-description {
  margin-left: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.my-taskbar {
  float: right;
  text-decoration: none;
}
.my-taskbar .container {
  margin-bottom: 2%;
}
.my-table {
  padding-left: 1%;
  padding-right: 1%;
}

span:hover {
  cursor: pointer;
}

#page404 {
  background: #dedede;
}
.page-wrap {
  min-height: 100vh;
}

/* 2020-05-10 3 buttons */

.btn3 {
  background-color: #5800cc;
  border: none;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  float: inherit;
}
.btn3:hover {
  background-color: RoyalBlue;
  color: #000000;
}

/* 2020-05-12 */

a:hover {
  text-decoration: none;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

li.a {
  background-color: #e0dddc;
  border-radius: 0.7vw;
}
li.a:hover {
  background-color: #f2f2f2;
}

.btn-primary {
  background-color: #5800cc;
  border-color: #5800cc;
  border-radius: 5px;
}

.my-taskbar {
  padding-top: 1%;
  color: black;
}